################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/testm.git
/tsolesetting/.vs/tsolesetting/v16/Server/sqlite3
